################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GKFX/GKFX Developer Test/~$view.xlsx
