################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GKFX/GKFX Developer Test/~$view.xlsx
/GKFX/GKFX Developer Test/~$FX Quant Developer Test.docx
/GKFX/GKFX Developer Test/view.xlsx
/GKFX/GKFX Developer Test/GKFX Quant Developer Test.docx
/GKFX/GKFX Developer Test/ExampleTradesMar2016.csv
/GKFX/GKFX Developer Test/ExampleQuotesGBPUSDMar2016.csv
/GKFX/GKFX Developer Test/ExampleQuotesEURUSDMar2016.csv
/GKFX/GKFX Developer Test/ExampleQuotesEURGBPMar2016.csv
/GKFX/GKFXTest/GKFXTest/bin/Debug
/GKFX/GKFXTest/GKFXTest/obj/Debug
/GKFX/GKFX Developer Test.zip
/GKFX/GKFXTest/.vs/GKFXTest/v14
